@model CookBook.Models.Recipe

<div class="col-lg-4">
    @*<img class="img-thumbnail" src="@Model.img" alt="@Model.name" />*@
    <h2>@Model.Title</h2>
    <p>@Model.Author</p>
    <p>@Model.RecipeDesc</p>
    <p><a class="btn-warning" href="/Home/Show">Подробнее</a></p>
</div>